src/test/testFiles/goodWsdls/ForeignExchangeRate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s1="http://ws.strikeiron.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:si="http://www.strikeiron.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetLatestRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommaSeparatedListOfCurrenciesFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLatestRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLatestRatesResult" type="si:ExchangeRateOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExchangeRateOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:ExchangeRateResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExchangeRateResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Listings" type="si:ArrayOfExchangeRateListing" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfExchangeRateListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ExchangeRateListing" nillable="true" type="si:ExchangeRateListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExchangeRateListing">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerCurrency" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHistoricalRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CommaSeparatedListOfCurrenciesFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalRatesResult" type="si:ExchangeRateOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRangeRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SingleCurrencyTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DateTo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoricalRangeRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoricalRangeRatesResult" type="si:ExchangeRateOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestRatesToUSD">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLatestRatesToUSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLatestRatesToUSDResult" type="si:ExchangeRateOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLatestUSDToCurrencies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllLatestUSDToCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLatestUSDToCurrenciesResult" type="si:ExchangeRateOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedCurrencies">
        <s:complexType />
      </s:element>
      <s:element name="GetSupportedCurrenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupportedCurrenciesResult" type="si:SupportedCurrenciesOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SupportedCurrenciesOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:SupportedCurrenciesResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SupportedCurrenciesResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Listings" type="si:ArrayOfCurrencyListing" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CurrencyListing" nillable="true" type="si:CurrencyListing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CurrencyListing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Symbol" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllStatuses">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="si:StatusCodeOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusCodeOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:StatusCodeResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StatusCodeResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="si:ArrayOfSIWsStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="si:ServiceInfoOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceInfoOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:SIServiceInfoResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIServiceInfoResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="si:ArrayOfServiceInfoRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="si:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnregisteredUser" type="tns1:UnregisteredUser" />
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UnregisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="EmailAddress" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLatestRatesSoapIn">
    <wsdl:part name="parameters" element="si:GetLatestRates" />
  </wsdl:message>
  <wsdl:message name="GetLatestRatesSoapOut">
    <wsdl:part name="parameters" element="si:GetLatestRatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRatesSoapIn">
    <wsdl:part name="parameters" element="si:GetHistoricalRates" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRatesSoapOut">
    <wsdl:part name="parameters" element="si:GetHistoricalRatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRangeRatesSoapIn">
    <wsdl:part name="parameters" element="si:GetHistoricalRangeRates" />
  </wsdl:message>
  <wsdl:message name="GetHistoricalRangeRatesSoapOut">
    <wsdl:part name="parameters" element="si:GetHistoricalRangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestRatesToUSDSoapIn">
    <wsdl:part name="parameters" element="si:GetAllLatestRatesToUSD" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestRatesToUSDSoapOut">
    <wsdl:part name="parameters" element="si:GetAllLatestRatesToUSDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestUSDToCurrenciesSoapIn">
    <wsdl:part name="parameters" element="si:GetAllLatestUSDToCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetAllLatestUSDToCurrenciesSoapOut">
    <wsdl:part name="parameters" element="si:GetAllLatestUSDToCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCurrenciesSoapIn">
    <wsdl:part name="parameters" element="si:GetSupportedCurrencies" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCurrenciesSoapOut">
    <wsdl:part name="parameters" element="si:GetSupportedCurrenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapIn">
    <wsdl:part name="parameters" element="si:GetAllStatuses" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapOut">
    <wsdl:part name="parameters" element="si:GetAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="si:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="si:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="s1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" element="s1:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="ForeignExchangeRatesSoap">
    <wsdl:operation name="GetLatestRates">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method will return the latest Noon conversion rates from multiple currencies to a single currency</documentation>
      <wsdl:input message="si:GetLatestRatesSoapIn" />
      <wsdl:output message="si:GetLatestRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method will return the historical Noon rates from multiple currencies to a single currency for a given date beginning from 06/01/1994</documentation>
      <wsdl:input message="si:GetHistoricalRatesSoapIn" />
      <wsdl:output message="si:GetHistoricalRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRangeRates">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method will return the historical Noon rates from a single currency to a single currency for a given period of time beginning from 06/01/1994</documentation>
      <wsdl:input message="si:GetHistoricalRangeRatesSoapIn" />
      <wsdl:output message="si:GetHistoricalRangeRatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestRatesToUSD">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method will return the latest Noon rates of all supported currencies to the US Dollar</documentation>
      <wsdl:input message="si:GetAllLatestRatesToUSDSoapIn" />
      <wsdl:output message="si:GetAllLatestRatesToUSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestUSDToCurrencies">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This method will return the latest Noon rate of USD to all supported currencies</documentation>
      <wsdl:input message="si:GetAllLatestUSDToCurrenciesSoapIn" />
      <wsdl:output message="si:GetAllLatestUSDToCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCurrencies">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the list of all supported currencies</documentation>
      <wsdl:input message="si:GetSupportedCurrenciesSoapIn" />
      <wsdl:output message="si:GetSupportedCurrenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
      <wsdl:input message="si:GetAllStatusesSoapIn" />
      <wsdl:output message="si:GetAllStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
      <wsdl:input message="si:GetServiceInfoSoapIn" />
      <wsdl:output message="si:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="si:GetRemainingHitsSoapIn" />
      <wsdl:output message="si:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ForeignExchangeRatesSoap" type="si:ForeignExchangeRatesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetLatestRates">
      <soap:operation soapAction="http://www.strikeiron.com/GetLatestRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRates">
      <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoricalRangeRates">
      <soap:operation soapAction="http://www.strikeiron.com/GetHistoricalRangeRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestRatesToUSD">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllLatestRatesToUSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLatestUSDToCurrencies">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllLatestUSDToCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCurrencies">
      <soap:operation soapAction="http://www.strikeiron.com/GetSupportedCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://ws.strikeiron.com/StrikeIron/ForeignExchangeRate/ForeignExchangeRates/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ForeignExchangeRates">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">The StrikeIron Foreign Exchange Rates Service retrieves Noon Exchange Rates provided by Federal Reserve Bank of New York</documentation>
    <wsdl:port name="ForeignExchangeRatesSoap" binding="si:ForeignExchangeRatesSoap">
      <soap:address location="http://ws.strikeiron.com/StrikeIron/ForeignExchangeRate/ForeignExchangeRates" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>