src/test/testFiles/badWsdls/metadata.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Salesforce.com Metadata API verion 9.0

Copyright 2006 Salesforce.com, inc. All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2006/04/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2006/04/metadata">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2006/04/metadata">
   <xsd:complexType name="AsyncResult">
    <xsd:sequence>
     <xsd:element name="done" type="xsd:boolean"/>
     <xsd:element name="id" type="tns:ID"/>
     <xsd:element name="message" minOccurs="0" type="xsd:string"/>
     <xsd:element name="secondsToWait" type="xsd:int"/>
     <xsd:element name="state" type="tns:AsyncRequestState"/>
     <xsd:element name="statusCode" minOccurs="0" type="tns:StatusCode"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="AsyncRequestState">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Queued"/>
     <xsd:enumeration value="InProgress"/>
     <xsd:enumeration value="Completed"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CustomField">
    <xsd:complexContent>
     <xsd:extension base="tns:Metadata">
      <xsd:sequence>
       <xsd:element name="caseSensitive" type="xsd:boolean"/>
       <xsd:element name="defaultValue" type="xsd:string"/>
       <xsd:element name="description" type="xsd:string"/>
       <xsd:element name="displayFormat" type="xsd:string"/>
       <xsd:element name="externalId" type="xsd:boolean"/>
       <xsd:element name="formula" type="xsd:string"/>
       <xsd:element name="formulaTreatBlanksAs" minOccurs="0" type="tns:TreatBlanksAs"/>
       <xsd:element name="label" type="xsd:string"/>
       <xsd:element name="length" type="xsd:int"/>
       <xsd:element name="picklistName" type="xsd:string"/>
       <xsd:element name="populateExistingRows" type="xsd:boolean"/>
       <xsd:element name="precision" type="xsd:int"/>
       <xsd:element name="referenceTo" type="xsd:string"/>
       <xsd:element name="relationshipName" type="xsd:string"/>
       <xsd:element name="required" type="xsd:boolean"/>
       <xsd:element name="scale" type="xsd:int"/>
       <xsd:element name="startingNumber" type="xsd:int"/>
       <xsd:element name="type" type="tns:FieldType"/>
       <xsd:element name="unique" type="xsd:boolean"/>
       <xsd:element name="visibleLines" type="xsd:int"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Metadata">
    <xsd:sequence>
     <xsd:element name="fullName" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="TreatBlanksAs">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="BlankAsBlank"/>
     <xsd:enumeration value="BlankAsZero"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="FieldType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="AutoNumber"/>
     <xsd:enumeration value="Lookup"/>
     <xsd:enumeration value="MasterDetail"/>
     <xsd:enumeration value="Checkbox"/>
     <xsd:enumeration value="Currency"/>
     <xsd:enumeration value="Date"/>
     <xsd:enumeration value="DateTime"/>
     <xsd:enumeration value="Email"/>
     <xsd:enumeration value="Number"/>
     <xsd:enumeration value="Percent"/>
     <xsd:enumeration value="Phone"/>
     <xsd:enumeration value="Picklist"/>
     <xsd:enumeration value="MultiselectPicklist"/>
     <xsd:enumeration value="Text"/>
     <xsd:enumeration value="TextArea"/>
     <xsd:enumeration value="LongTextArea"/>
     <xsd:enumeration value="Url"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="CustomObject">
    <xsd:complexContent>
     <xsd:extension base="tns:Metadata">
      <xsd:sequence>
       <xsd:element name="deploymentStatus" type="tns:DeploymentStatus"/>
       <xsd:element name="description" type="xsd:string"/>
       <xsd:element name="enableActivities" type="xsd:boolean"/>
       <xsd:element name="enableDivisions" type="xsd:boolean"/>
       <xsd:element name="enableHistory" type="xsd:boolean"/>
       <xsd:element name="enableReports" type="xsd:boolean"/>
       <xsd:element name="gender" type="tns:Gender"/>
       <xsd:element name="label" type="xsd:string"/>
       <xsd:element name="nameField" type="tns:CustomField"/>
       <xsd:element name="pluralLabel" type="xsd:string"/>
       <xsd:element name="sharingModel" type="tns:SharingModel"/>
       <xsd:element name="startsWith" type="tns:StartsWith"/>
      </xsd:sequence>
     </xsd:extension>
    </xsd:complexContent>
   </xsd:complexType>
   <xsd:simpleType name="DeploymentStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="InDevelopment"/>
     <xsd:enumeration value="Deployed"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Gender">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Neuter"/>
     <xsd:enumeration value="Masculine"/>
     <xsd:enumeration value="Feminine"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="SharingModel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Private"/>
     <xsd:enumeration value="Read"/>
     <xsd:enumeration value="ReadWrite"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StartsWith">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Consonant"/>
     <xsd:enumeration value="Vowel"/>
     <xsd:enumeration value="Special"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="UpdateMetadata">
    <xsd:sequence>
     <xsd:element name="currentName" type="xsd:string"/>
     <xsd:element name="metadata" type="tns:Metadata"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="StatusCode">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="ALREADY_IN_PROCESS"/>
     <xsd:enumeration value="ASSIGNEE_TYPE_REQUIRED"/>
     <xsd:enumeration value="BAD_CUSTOM_ENTITY_PARENT_DOMAIN"/>
     <xsd:enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE"/>
     <xsd:enumeration value="CANNOT_CREATE_ANOTHER_MANAGED_PACKAGE"/>
     <xsd:enumeration value="CANNOT_DEACTIVATE_DIVISION"/>
     <xsd:enumeration value="CANNOT_DELETE_LAST_DATED_CONVERSION_RATE"/>
     <xsd:enumeration value="CANNOT_DELETE_MANAGED_OBJECT"/>
     <xsd:enumeration value="CANNOT_DISABLE_LAST_ADMIN"/>
     <xsd:enumeration value="CANNOT_ENABLE_IP_RESTRICT_REQUESTS"/>
     <xsd:enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY"/>
     <xsd:enumeration value="CANNOT_MODIFY_MANAGED_OBJECT"/>
     <xsd:enumeration value="CANNOT_REPARENT_RECORD"/>
     <xsd:enumeration value="CANNOT_UPDATE_CONVERTED_LEAD"/>
     <xsd:enumeration value="CANT_DISABLE_CORP_CURRENCY"/>
     <xsd:enumeration value="CANT_UNSET_CORP_CURRENCY"/>
     <xsd:enumeration value="CHILD_SHARE_FAILS_PARENT"/>
     <xsd:enumeration value="CIRCULAR_DEPENDENCY"/>
     <xsd:enumeration value="CUSTOM_CLOB_FIELD_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT"/>
     <xsd:enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="CUSTOM_INDEX_EXISTS"/>
     <xsd:enumeration value="CUSTOM_LINK_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="CUSTOM_TAB_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="DELETE_FAILED"/>
     <xsd:enumeration value="DELETE_REQUIRED_ON_CASCADE"/>
     <xsd:enumeration value="DEPENDENCY_EXISTS"/>
     <xsd:enumeration value="DUPLICATE_CASE_SOLUTION"/>
     <xsd:enumeration value="DUPLICATE_CUSTOM_ENTITY_DEFINITION"/>
     <xsd:enumeration value="DUPLICATE_CUSTOM_TAB_MOTIF"/>
     <xsd:enumeration value="DUPLICATE_DEVELOPER_NAME"/>
     <xsd:enumeration value="DUPLICATE_EXTERNAL_ID"/>
     <xsd:enumeration value="DUPLICATE_MASTER_LABEL"/>
     <xsd:enumeration value="DUPLICATE_USERNAME"/>
     <xsd:enumeration value="DUPLICATE_VALUE"/>
     <xsd:enumeration value="EMPTY_SCONTROL_FILE_NAME"/>
     <xsd:enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE"/>
     <xsd:enumeration value="ENTITY_IS_ARCHIVED"/>
     <xsd:enumeration value="ENTITY_IS_DELETED"/>
     <xsd:enumeration value="ENTITY_IS_LOCKED"/>
     <xsd:enumeration value="FAILED_ACTIVATION"/>
     <xsd:enumeration value="FIELD_CUSTOM_VALIDATION_EXCEPTION"/>
     <xsd:enumeration value="FIELD_INTEGRITY_EXCEPTION"/>
     <xsd:enumeration value="IMAGE_TOO_LARGE"/>
     <xsd:enumeration value="INACTIVE_OWNER_OR_USER"/>
     <xsd:enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY"/>
     <xsd:enumeration value="INSUFFICIENT_ACCESS_OR_READONLY"/>
     <xsd:enumeration value="INVALID_ACCESS_LEVEL"/>
     <xsd:enumeration value="INVALID_ARGUMENT_TYPE"/>
     <xsd:enumeration value="INVALID_ASSIGNEE_TYPE"/>
     <xsd:enumeration value="INVALID_ASSIGNMENT_RULE"/>
     <xsd:enumeration value="INVALID_BATCH_OPERATION"/>
     <xsd:enumeration value="INVALID_CREDIT_CARD_INFO"/>
     <xsd:enumeration value="INVALID_CROSS_REFERENCE_KEY"/>
     <xsd:enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD"/>
     <xsd:enumeration value="INVALID_CURRENCY_CONV_RATE"/>
     <xsd:enumeration value="INVALID_CURRENCY_CORP_RATE"/>
     <xsd:enumeration value="INVALID_CURRENCY_ISO"/>
     <xsd:enumeration value="INVALID_EMAIL_ADDRESS"/>
     <xsd:enumeration value="INVALID_EMPTY_KEY_OWNER"/>
     <xsd:enumeration value="INVALID_FIELD"/>
     <xsd:enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE"/>
     <xsd:enumeration value="INVALID_FILTER_ACTION"/>
     <xsd:enumeration value="INVALID_ID_FIELD"/>
     <xsd:enumeration value="INVALID_INET_ADDRESS"/>
     <xsd:enumeration value="INVALID_LINEITEM_CLONE_STATE"/>
     <xsd:enumeration value="INVALID_MASTER_OR_TRANSLATED_SOLUTION"/>
     <xsd:enumeration value="INVALID_OPERATION"/>
     <xsd:enumeration value="INVALID_OPERATOR"/>
     <xsd:enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST"/>
     <xsd:enumeration value="INVALID_PERSON_ACCOUNT_OPERATION"/>
     <xsd:enumeration value="INVALID_STATUS"/>
     <xsd:enumeration value="INVALID_TYPE"/>
     <xsd:enumeration value="INVALID_TYPE_FOR_OPERATION"/>
     <xsd:enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD"/>
     <xsd:enumeration value="IP_RANGE_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="LICENSE_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="LIMIT_EXCEEDED"/>
     <xsd:enumeration value="MALFORMED_ID"/>
     <xsd:enumeration value="MANAGER_NOT_DEFINED"/>
     <xsd:enumeration value="MAXIMUM_CCEMAILS_EXCEEDED"/>
     <xsd:enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED"/>
     <xsd:enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT"/>
     <xsd:enumeration value="MAXIMUM_SIZE_OF_DOCUMENT"/>
     <xsd:enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED"/>
     <xsd:enumeration value="MAX_ACTIVE_RULES_EXCEEDED"/>
     <xsd:enumeration value="MAX_APPROVAL_STEPS_EXCEEDED"/>
     <xsd:enumeration value="MAX_RULES_EXCEEDED"/>
     <xsd:enumeration value="MAX_RULE_ENTRIES_EXCEEDED"/>
     <xsd:enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED"/>
     <xsd:enumeration value="MAX_TM_RULES_EXCEEDED"/>
     <xsd:enumeration value="MAX_TM_RULE_ITEMS_EXCEEDED"/>
     <xsd:enumeration value="MISSING_ARGUMENT"/>
     <xsd:enumeration value="NONUNIQUE_SHIPPING_ADDRESS"/>
     <xsd:enumeration value="NO_APPLICABLE_PROCESS"/>
     <xsd:enumeration value="NUMBER_OUTSIDE_VALID_RANGE"/>
     <xsd:enumeration value="NUM_HISTORY_FIELDS_BY_SOBJECT_EXCEEDED"/>
     <xsd:enumeration value="PACKAGE_LICENSE_REQUIRED"/>
     <xsd:enumeration value="PORTAL_USER_ALREADY_EXISTS_FOR_CONTACT"/>
     <xsd:enumeration value="PRIVATE_CONTACT_ON_ASSET"/>
     <xsd:enumeration value="REQUIRED_FIELD_MISSING"/>
     <xsd:enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER"/>
     <xsd:enumeration value="STANDARD_PRICE_NOT_DEFINED"/>
     <xsd:enumeration value="STORAGE_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="TABSET_LIMIT_EXCEEDED"/>
     <xsd:enumeration value="TERRITORY_REALIGN_IN_PROGRESS"/>
     <xsd:enumeration value="TEXT_DATA_OUTSIDE_SUPPORTED_CHARSET"/>
     <xsd:enumeration value="TOO_MANY_ENUM_VALUE"/>
     <xsd:enumeration value="TRANSFER_REQUIRES_READ"/>
     <xsd:enumeration value="UNAVAILABLE_RECORDTYPE_EXCEPTION"/>
     <xsd:enumeration value="UNDELETE_FAILED"/>
     <xsd:enumeration value="UNKNOWN_EXCEPTION"/>
     <xsd:enumeration value="UNSPECIFIED_EMAIL_ADDRESS"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="checkStatus">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="asyncProcessId" minOccurs="0" maxOccurs="unbounded" type="tns:ID"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="checkStatusResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:AsyncResult"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="create">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="metadata" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="createResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:AsyncResult"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="delete">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="metadata" minOccurs="0" maxOccurs="unbounded" type="tns:Metadata"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="deleteResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:AsyncResult"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="update">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="UpdateMetadata" minOccurs="0" maxOccurs="unbounded" type="tns:UpdateMetadata"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="updateResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" minOccurs="0" maxOccurs="unbounded" type="tns:AsyncResult"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header part -->
 <message name="Header">
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="checkStatusRequest">
  <part element="tns:checkStatus" name="parameters"/>
 </message>
 <message name="checkStatusResponse">
  <part element="tns:checkStatusResponse" name="parameters"/>
 </message>
 <message name="createRequest">
  <part element="tns:create" name="parameters"/>
 </message>
 <message name="createResponse">
  <part element="tns:createResponse" name="parameters"/>
 </message>
 <message name="deleteRequest">
  <part element="tns:delete" name="parameters"/>
 </message>
 <message name="deleteResponse">
  <part element="tns:deleteResponse" name="parameters"/>
 </message>
 <message name="updateRequest">
  <part element="tns:update" name="parameters"/>
 </message>
 <message name="updateResponse">
  <part element="tns:updateResponse" name="parameters"/>
 </message>
 <portType name="MetadataPortType">
  <operation name="checkStatus">
   <documentation>Check the current status of an asyncronous call.</documentation>
   <input message="tns:checkStatusRequest"/>
   <output message="tns:checkStatusResponse"/>
  </operation>
  <operation name="create">
   <documentation>Creates new metadata entries asyncronously.</documentation>
   <input message="tns:createRequest"/>
   <output message="tns:createResponse"/>
  </operation>
  <operation name="delete">
   <documentation>Deletes metadata entries asyncronously.</documentation>
   <input message="tns:deleteRequest"/>
   <output message="tns:deleteResponse"/>
  </operation>
  <operation name="update">
   <documentation>Updates metadata entries asyncronously.</documentation>
   <input message="tns:updateRequest"/>
   <output message="tns:updateResponse"/>
  </operation>
 </portType>
 <binding name="MetadataBinding" type="tns:MetadataPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="checkStatus">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="create">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="delete">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
  <operation name="update">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="MetadataService">
  <documentation>Manage your Salesforce.com metadata</documentation>
  <port binding="tns:MetadataBinding" name="Metadata">
   <soap:address location="http://localhost:80/services/Soap/m/9.0"/>
  </port>
 </service>
</definitions>
