src/test/testFiles/unparsableWsdls/airport_Raw.wsdl


<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="getAirportInformationByISOCountryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountryAbbrviation" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByISOCountryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByISOCountryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByCityOrAirportName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cityOrAirportName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByCityOrAirportNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByCityOrAirportNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirportInformationByCountry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirportInformationByCountryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAirportInformationByCountryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByAirportCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="airportCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAirportInformationByAirportCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAirportInformationByAirportCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getAirportInformationByISOCountryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCode" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameSoapIn">
    <wsdl:part name="parameters" element="tns:getAirportInformationByCityOrAirportName" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameSoapOut">
    <wsdl:part name="parameters" element="tns:getAirportInformationByCityOrAirportNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountrySoapIn">
    <wsdl:part name="parameters" element="tns:GetAirportInformationByCountry" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountrySoapOut">
    <wsdl:part name="parameters" element="tns:GetAirportInformationByCountryResponse" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getAirportInformationByAirportCode" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getAirportInformationByAirportCodeResponse" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeHttpGetIn">
    <wsdl:part name="CountryAbbrviation" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameHttpGetIn">
    <wsdl:part name="cityOrAirportName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountryHttpGetIn">
    <wsdl:part name="country" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeHttpGetIn">
    <wsdl:part name="airportCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeHttpPostIn">
    <wsdl:part name="CountryAbbrviation" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameHttpPostIn">
    <wsdl:part name="cityOrAirportName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByCityOrAirportNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountryHttpPostIn">
    <wsdl:part name="country" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAirportInformationByCountryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeHttpPostIn">
    <wsdl:part name="airportCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByAirportCodeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="airportSoap">
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByISOCountryCodeSoapIn" />
      <wsdl:output message="tns:getAirportInformationByISOCountryCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByCityOrAirportNameSoapIn" />
      <wsdl:output message="tns:getAirportInformationByCityOrAirportNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </wsdl:documentation>
      <wsdl:input message="tns:GetAirportInformationByCountrySoapIn" />
      <wsdl:output message="tns:GetAirportInformationByCountrySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByAirportCodeSoapIn" />
      <wsdl:output message="tns:getAirportInformationByAirportCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="airportHttpGet">
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByISOCountryCodeHttpGetIn" />
      <wsdl:output message="tns:getAirportInformationByISOCountryCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByCityOrAirportNameHttpGetIn" />
      <wsdl:output message="tns:getAirportInformationByCityOrAirportNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </wsdl:documentation>
      <wsdl:input message="tns:GetAirportInformationByCountryHttpGetIn" />
      <wsdl:output message="tns:GetAirportInformationByCountryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByAirportCodeHttpGetIn" />
      <wsdl:output message="tns:getAirportInformationByAirportCodeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="airportHttpPost">
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by ISO country code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByISOCountryCodeHttpPostIn" />
      <wsdl:output message="tns:getAirportInformationByISOCountryCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by city or airport name </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByCityOrAirportNameHttpPostIn" />
      <wsdl:output message="tns:getAirportInformationByCityOrAirportNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by country name </wsdl:documentation>
      <wsdl:input message="tns:GetAirportInformationByCountryHttpPostIn" />
      <wsdl:output message="tns:GetAirportInformationByCountryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Airport Code, CityOrAirport Name, Country, Country Abbrv, CountryCode,GMT Offset Runway Length in Feet, Runway Elevation in Feet,Latitude in Degree,Latitude in Minute Latitude in Second,Latitude in N/S, Longitude in Degree, Longitude in Minute, Longitude in Seconds and longitude E/W by airport code </wsdl:documentation>
      <wsdl:input message="tns:getAirportInformationByAirportCodeHttpPostIn" />
      <wsdl:output message="tns:getAirportInformationByAirportCodeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="airportSoap" type="tns:airportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByISOCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByCityOrAirportName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <soap:operation soapAction="http://www.webserviceX.NET/GetAirportInformationByCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <soap:operation soapAction="http://www.webserviceX.NET/getAirportInformationByAirportCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="airportSoap12" type="tns:airportSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/getAirportInformationByISOCountryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <soap12:operation soapAction="http://www.webserviceX.NET/getAirportInformationByCityOrAirportName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetAirportInformationByCountry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <soap12:operation soapAction="http://www.webserviceX.NET/getAirportInformationByAirportCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="airportHttpGet" type="tns:airportHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <http:operation location="/getAirportInformationByISOCountryCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <http:operation location="/getAirportInformationByCityOrAirportName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <http:operation location="/GetAirportInformationByCountry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <http:operation location="/getAirportInformationByAirportCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="airportHttpPost" type="tns:airportHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <http:operation location="/getAirportInformationByISOCountryCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByCityOrAirportName">
      <http:operation location="/getAirportInformationByCityOrAirportName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirportInformationByCountry">
      <http:operation location="/GetAirportInformationByCountry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAirportInformationByAirportCode">
      <http:operation location="/getAirportInformationByAirportCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="airport">
    <wsdl:port name="airportSoap" binding="tns:airportSoap">
      <soap:address location="http://www.webservicex.net/airport.asmx" />
    </wsdl:port>
    <wsdl:port name="airportSoap12" binding="tns:airportSoap12">
      <soap12:address location="http://www.webservicex.net/airport.asmx" />
    </wsdl:port>
    <wsdl:port name="airportHttpGet" binding="tns:airportHttpGet">
      <http:address location="http://www.webservicex.net/airport.asmx" />
    </wsdl:port>
    <wsdl:port name="airportHttpPost" binding="tns:airportHttpPost">
      <http:address location="http://www.webservicex.net/airport.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>