src/test/testFiles/parsableWsdls/amazonS3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
 targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/"
 xmlns:tns="http://s3.amazonaws.com/doc/2006-03-01/"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://s3.amazonaws.com/doc/2006-03-01/">
−
	<xsd:element name="CreateBucket">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="MetadataEntry">
−
	<xsd:sequence>
<xsd:element name="Name" type="xsd:string"/>
<xsd:element name="Value" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="CreateBucketResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="CreateBucketReturn" type="tns:CreateBucketResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="Status">
−
	<xsd:sequence>
<xsd:element name="Code" type="xsd:int"/>
<xsd:element name="Description" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="Result">
−
	<xsd:sequence>
<xsd:element name="Status" type="tns:Status"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="CreateBucketResult">
−
	<xsd:sequence>
<xsd:element name="BucketName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="DeleteBucket">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="DeleteBucketResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="DeleteBucketResponse" type="tns:Status"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="BucketLoggingStatus">
−
	<xsd:sequence>
<xsd:element name="LoggingEnabled" type="tns:LoggingSettings" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="LoggingSettings">
−
	<xsd:sequence>
<xsd:element name="TargetBucket" type="xsd:string"/>
<xsd:element name="TargetPrefix" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="GetBucketLoggingStatus">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetBucketLoggingStatusResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="GetBucketLoggingStatusResponse" type="tns:BucketLoggingStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="SetBucketLoggingStatus">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
<xsd:element name="BucketLoggingStatus" type="tns:BucketLoggingStatus"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="SetBucketLoggingStatusResponse">
−
	<xsd:complexType>
<xsd:sequence/>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetObjectAccessControlPolicy">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetObjectAccessControlPolicyResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="GetObjectAccessControlPolicyResponse" type="tns:AccessControlPolicy"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetBucketAccessControlPolicy">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetBucketAccessControlPolicyResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="GetBucketAccessControlPolicyResponse" type="tns:AccessControlPolicy"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType abstract="true" name="Grantee"/>
−
	<xsd:complexType name="User" abstract="true">
−
	<xsd:complexContent>
<xsd:extension base="tns:Grantee"/>
</xsd:complexContent>
</xsd:complexType>
−
	<xsd:complexType name="AmazonCustomerByEmail">
−
	<xsd:complexContent>
−
	<xsd:extension base="tns:User">
−
	<xsd:sequence>
<xsd:element name="EmailAddress" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
−
	<xsd:complexType name="CanonicalUser">
−
	<xsd:complexContent>
−
	<xsd:extension base="tns:User">
−
	<xsd:sequence>
<xsd:element name="ID" type="xsd:string"/>
<xsd:element name="DisplayName" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
−
	<xsd:complexType name="Group">
−
	<xsd:complexContent>
−
	<xsd:extension base="tns:Grantee">
−
	<xsd:sequence>
<xsd:element name="URI" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
−
	<xsd:simpleType name="Permission">
−
	<xsd:restriction base="xsd:string">
<xsd:enumeration value="READ"/>
<xsd:enumeration value="WRITE"/>
<xsd:enumeration value="READ_ACP"/>
<xsd:enumeration value="WRITE_ACP"/>
<xsd:enumeration value="FULL_CONTROL"/>
</xsd:restriction>
</xsd:simpleType>
−
	<xsd:simpleType name="StorageClass">
−
	<xsd:restriction base="xsd:string">
<xsd:enumeration value="TEMP"/>
<xsd:enumeration value="STANDARD"/>
<xsd:enumeration value="UNKNOWN"/>
</xsd:restriction>
</xsd:simpleType>
−
	<xsd:complexType name="Grant">
−
	<xsd:sequence>
<xsd:element name="Grantee" type="tns:Grantee"/>
<xsd:element name="Permission" type="tns:Permission"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="AccessControlList">
−
	<xsd:sequence>
<xsd:element name="Grant" type="tns:Grant" minOccurs="0" maxOccurs="100"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="AccessControlPolicy">
−
	<xsd:sequence>
<xsd:element name="Owner" type="tns:CanonicalUser"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="SetObjectAccessControlPolicy">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="SetObjectAccessControlPolicyResponse">
−
	<xsd:complexType>
<xsd:sequence/>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="SetBucketAccessControlPolicy">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="SetBucketAccessControlPolicyResponse">
−
	<xsd:complexType>
<xsd:sequence/>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetObject">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="GetMetadata" type="xsd:boolean"/>
<xsd:element name="GetData" type="xsd:boolean"/>
<xsd:element name="InlineData" type="xsd:boolean"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetObjectResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="GetObjectResponse" type="tns:GetObjectResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="GetObjectResult">
−
	<xsd:complexContent>
−
	<xsd:extension base="tns:Result">
−
	<xsd:sequence>
<xsd:element name="Metadata" type="tns:MetadataEntry" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Data" type="xsd:base64Binary" nillable="true"/>
<xsd:element name="LastModified" type="xsd:dateTime"/>
<xsd:element name="ETag" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
−
	<xsd:element name="GetObjectExtended">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="GetMetadata" type="xsd:boolean"/>
<xsd:element name="GetData" type="xsd:boolean"/>
<xsd:element name="InlineData" type="xsd:boolean"/>
<xsd:element name="ByteRangeStart" type="xsd:long" minOccurs="0"/>
<xsd:element name="ByteRangeEnd" type="xsd:long" minOccurs="0"/>
<xsd:element name="IfModifiedSince" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="IfUnmodifiedSince" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="IfMatch" type="xsd:string" minOccurs="0" maxOccurs="100"/>
<xsd:element name="IfNoneMatch" type="xsd:string" minOccurs="0" maxOccurs="100"/>
<xsd:element name="ReturnCompleteObjectOnConditionFailure" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="GetObjectExtendedResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="GetObjectResponse" type="tns:GetObjectResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="PutObject">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="Metadata" type="tns:MetadataEntry" minOccurs="0" maxOccurs="100"/>
<xsd:element name="ContentLength" type="xsd:long"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList" minOccurs="0"/>
<xsd:element name="StorageClass" type="tns:StorageClass" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="PutObjectResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="PutObjectResponse" type="tns:PutObjectResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="PutObjectResult">
−
	<xsd:sequence>
<xsd:element name="ETag" type="xsd:string"/>
<xsd:element name="LastModified" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="PutObjectInline">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element minOccurs="0" maxOccurs="100" name="Metadata" type="tns:MetadataEntry"/>
<xsd:element name="Data" type="xsd:base64Binary"/>
<xsd:element name="ContentLength" type="xsd:long"/>
<xsd:element name="AccessControlList" type="tns:AccessControlList" minOccurs="0"/>
<xsd:element name="StorageClass" type="tns:StorageClass" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="PutObjectInlineResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="PutObjectInlineResponse" type="tns:PutObjectResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="DeleteObject">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="DeleteObjectResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="DeleteObjectResponse" type="tns:Status"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="ListBucket">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="Bucket" type="xsd:string"/>
<xsd:element name="Prefix" type="xsd:string" minOccurs="0"/>
<xsd:element name="Marker" type="xsd:string" minOccurs="0"/>
<xsd:element name="MaxKeys" type="xsd:int" minOccurs="0"/>
<xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
<xsd:element name="Credential" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="ListBucketResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="ListBucketResponse" type="tns:ListBucketResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="ListEntry">
−
	<xsd:sequence>
<xsd:element name="Key" type="xsd:string"/>
<xsd:element name="LastModified" type="xsd:dateTime"/>
<xsd:element name="ETag" type="xsd:string"/>
<xsd:element name="Size" type="xsd:long"/>
<xsd:element name="Owner" type="tns:CanonicalUser" minOccurs="0"/>
<xsd:element name="StorageClass" type="tns:StorageClass"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="PrefixEntry">
−
	<xsd:sequence>
<xsd:element name="Prefix" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="ListBucketResult">
−
	<xsd:sequence>
<xsd:element name="Metadata" type="tns:MetadataEntry" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Name" type="xsd:string"/>
<xsd:element name="Prefix" type="xsd:string"/>
<xsd:element name="Marker" type="xsd:string"/>
<xsd:element name="NextMarker" type="xsd:string" minOccurs="0"/>
<xsd:element name="MaxKeys" type="xsd:int"/>
<xsd:element name="Delimiter" type="xsd:string" minOccurs="0"/>
<xsd:element name="IsTruncated" type="xsd:boolean"/>
<xsd:element name="Contents" type="tns:ListEntry" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CommonPrefixes" type="tns:PrefixEntry" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:element name="ListAllMyBuckets">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="AWSAccessKeyId" type="xsd:string" minOccurs="0"/>
<xsd:element name="Timestamp" type="xsd:dateTime" minOccurs="0"/>
<xsd:element name="Signature" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:element name="ListAllMyBucketsResponse">
−
	<xsd:complexType>
−
	<xsd:sequence>
<xsd:element name="ListAllMyBucketsResponse" type="tns:ListAllMyBucketsResult"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
−
	<xsd:complexType name="ListAllMyBucketsEntry">
−
	<xsd:sequence>
<xsd:element name="Name" type="xsd:string"/>
<xsd:element name="CreationDate" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="ListAllMyBucketsResult">
−
	<xsd:sequence>
<xsd:element name="Owner" type="tns:CanonicalUser"/>
<xsd:element name="Buckets" type="tns:ListAllMyBucketsList"/>
</xsd:sequence>
</xsd:complexType>
−
	<xsd:complexType name="ListAllMyBucketsList">
−
	<xsd:sequence>
<xsd:element name="Bucket" type="tns:ListAllMyBucketsEntry" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>


  <wsdl:message name="PutObjectRequest">
    <wsdl:part element="tns:PutObject" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PutObjectInlineResponse">
    <wsdl:part element="tns:PutObjectInlineResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateBucketResponse">
    <wsdl:part element="tns:CreateBucketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectExtendedResponse">
    <wsdl:part element="tns:GetObjectExtendedResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectRequest">
    <wsdl:part element="tns:GetObject" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectAccessControlPolicyRequest">
    <wsdl:part element="tns:GetObjectAccessControlPolicy" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBucketAccessControlPolicyRequest">
    <wsdl:part element="tns:GetBucketAccessControlPolicy" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetObjectAccessControlPolicyRequest">
    <wsdl:part element="tns:SetObjectAccessControlPolicy" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetBucketAccessControlPolicyRequest">
    <wsdl:part element="tns:SetBucketAccessControlPolicy" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBucketLoggingStatusRequest">
    <wsdl:part element="tns:GetBucketLoggingStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetBucketLoggingStatusRequest">
    <wsdl:part element="tns:SetBucketLoggingStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListBucketResponse">
    <wsdl:part element="tns:ListBucketResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListAllMyBucketsResponse">
    <wsdl:part element="tns:ListAllMyBucketsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectExtendedRequest">
    <wsdl:part element="tns:GetObjectExtended" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PutObjectResponse">
    <wsdl:part element="tns:PutObjectResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="PutObjectInlineRequest">
    <wsdl:part element="tns:PutObjectInline" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteObjectResponse">
    <wsdl:part element="tns:DeleteObjectResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteBucketRequest">
    <wsdl:part element="tns:DeleteBucket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListBucketRequest">
    <wsdl:part element="tns:ListBucket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ListAllMyBucketsRequest">
    <wsdl:part element="tns:ListAllMyBuckets" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectResponse">
    <wsdl:part element="tns:GetObjectResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetObjectAccessControlPolicyResponse">
    <wsdl:part element="tns:GetObjectAccessControlPolicyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBucketAccessControlPolicyResponse">
    <wsdl:part element="tns:GetBucketAccessControlPolicyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetObjectAccessControlPolicyResponse">
    <wsdl:part element="tns:SetObjectAccessControlPolicyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetBucketAccessControlPolicyResponse">
    <wsdl:part element="tns:SetBucketAccessControlPolicyResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SetBucketLoggingStatusResponse">
    <wsdl:part element="tns:SetBucketLoggingStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBucketLoggingStatusResponse">
    <wsdl:part element="tns:GetBucketLoggingStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateBucketRequest">
    <wsdl:part element="tns:CreateBucket" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteObjectRequest">
    <wsdl:part element="tns:DeleteObject" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteBucketResponse">
    <wsdl:part element="tns:DeleteBucketResponse" name="parameters"/>
  </wsdl:message>


  <wsdl:portType name="AmazonS3">
    <wsdl:operation name="CreateBucket">
      <wsdl:input message="tns:CreateBucketRequest" name="CreateBucketRequest"/>
      <wsdl:output message="tns:CreateBucketResponse" name="CreateBucketResponse"/>
    </wsdl:operation>

    <wsdl:operation name="DeleteBucket">
      <wsdl:input message="tns:DeleteBucketRequest" name="DeleteBucketRequest"/>
      <wsdl:output message="tns:DeleteBucketResponse" name="DeleteBucketResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetObjectAccessControlPolicy">
      <wsdl:input message="tns:GetObjectAccessControlPolicyRequest" name="GetObjectAccessControlPolicyRequest"/>
      <wsdl:output message="tns:GetObjectAccessControlPolicyResponse" name="GetObjectAccessControlPolicyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetBucketAccessControlPolicy">
      <wsdl:input message="tns:GetBucketAccessControlPolicyRequest" name="GetBucketAccessControlPolicyRequest"/>
      <wsdl:output message="tns:GetBucketAccessControlPolicyResponse" name="GetBucketAccessControlPolicyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="SetObjectAccessControlPolicy">
      <wsdl:input message="tns:SetObjectAccessControlPolicyRequest" name="SetObjectAccessControlPolicyRequest"/>
      <wsdl:output message="tns:SetObjectAccessControlPolicyResponse" name="SetObjectAccessControlPolicyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="SetBucketAccessControlPolicy">
      <wsdl:input message="tns:SetBucketAccessControlPolicyRequest" name="SetBucketAccessControlPolicyRequest"/>
      <wsdl:output message="tns:SetBucketAccessControlPolicyResponse" name="SetBucketAccessControlPolicyResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetObject">
      <wsdl:input message="tns:GetObjectRequest" name="GetObjectRequest"/>
      <wsdl:output message="tns:GetObjectResponse" name="GetObjectResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetObjectExtended">
      <wsdl:input message="tns:GetObjectExtendedRequest" name="GetObjectExtendedRequest"/>
      <wsdl:output message="tns:GetObjectExtendedResponse" name="GetObjectExtendedResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="PutObject">
      <wsdl:input message="tns:PutObjectRequest" name="PutObjectRequest"/>
      <wsdl:output message="tns:PutObjectResponse" name="PutObjectResponse"/>
    </wsdl:operation>

    <wsdl:operation name="PutObjectInline">
      <wsdl:input message="tns:PutObjectInlineRequest" name="PutObjectInlineRequest"/>
      <wsdl:output message="tns:PutObjectInlineResponse" name="PutObjectInlineResponse"/>
    </wsdl:operation>

    <wsdl:operation name="DeleteObject">
      <wsdl:input message="tns:DeleteObjectRequest" name="DeleteObjectRequest"/>
      <wsdl:output message="tns:DeleteObjectResponse" name="DeleteObjectResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ListBucket">
      <wsdl:input message="tns:ListBucketRequest" name="ListBucketRequest"/>
      <wsdl:output message="tns:ListBucketResponse" name="ListBucketResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ListAllMyBuckets">
      <wsdl:input message="tns:ListAllMyBucketsRequest" name="ListAllMyBucketsRequest"/>
      <wsdl:output message="tns:ListAllMyBucketsResponse" name="ListAllMyBucketsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetBucketLoggingStatus">
      <wsdl:input message="tns:GetBucketLoggingStatusRequest" name="GetBucketLoggingStatusRequest"/>
      <wsdl:output message="tns:GetBucketLoggingStatusResponse" name="GetBucketLoggingStatusResponse"/>
    </wsdl:operation>

    <wsdl:operation name="SetBucketLoggingStatus">
      <wsdl:input message="tns:SetBucketLoggingStatusRequest" name="SetBucketLoggingStatusRequest"/>
      <wsdl:output message="tns:SetBucketLoggingStatusResponse" name="SetBucketLoggingStatusResponse"/>
    </wsdl:operation>

  </wsdl:portType>


  <wsdl:binding name="AmazonS3SoapBinding" type="tns:AmazonS3">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="CreateBucket">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="CreateBucketRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateBucketResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteBucket">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="DeleteBucketRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteBucketResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetObjectAccessControlPolicy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetObjectAccessControlPolicyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetObjectAccessControlPolicyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetBucketAccessControlPolicy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetBucketAccessControlPolicyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBucketAccessControlPolicyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetObjectAccessControlPolicy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SetObjectAccessControlPolicyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetObjectAccessControlPolicyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetBucketAccessControlPolicy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SetBucketAccessControlPolicyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetBucketAccessControlPolicyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetObject">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetObjectRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetObjectResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetObjectExtended">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetObjectExtendedRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetObjectExtendedResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PutObject">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="PutObjectRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PutObjectResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="PutObjectInline">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="PutObjectInlineRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="PutObjectInlineResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DeleteObject">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="DeleteObjectRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteObjectResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ListBucket">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ListBucketRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ListBucketResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ListAllMyBuckets">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ListAllMyBucketsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ListAllMyBucketsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetBucketLoggingStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SetBucketLoggingStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SetBucketLoggingStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetBucketLoggingStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="GetBucketLoggingStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBucketLoggingStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


</wsdl:binding>

  <wsdl:service name="AmazonS3">
    <wsdl:port binding="tns:AmazonS3SoapBinding" name="AmazonS3">
      <wsdlsoap:address location="https://s3.amazonaws.com/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
