src/test/testFiles/parsableWsdls/EOLS_PSAPLookupUS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="EOLS_PSAPLookupUS" targetNamespace="http://spectrum.pb.com/" xmlns:ns1="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:ns2="http://www.pb.com/spectrum/services/" xmlns:ns3="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spectrum.pb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:ns1="http://spectrum.pb.com/" xmlns:ns2="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:tns="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://spectrum.pb.com/"/>
			<xs:import namespace="http://www.mapinfo.com/midev/service/geometries/v1"/>
			<xs:element name="Input.Row" type="tns:Input.Row"/>
			<xs:element name="Input.RowList" type="tns:Input.RowList"/>
			<xs:element name="Output.Row" type="tns:Output.Row"/>
			<xs:element name="Output.RowList" type="tns:Output.RowList"/>
			<xs:complexType name="EOLS_PSAPLookupUSRequest">
				<xs:sequence>
					<xs:element form="qualified" minOccurs="0" name="options" type="tns:options"/>
					<xs:element form="qualified" minOccurs="0" name="Input" type="tns:Input.RowList"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="options">
				<xs:sequence/>
			</xs:complexType>
			<xs:complexType name="Input.RowList">
				<xs:sequence>
					<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Row" type="tns:Input.Row"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Input.Row">
				<xs:all>
					<xs:element form="qualified" minOccurs="0" name="Latitude" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Longitude" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="InputKeyValue" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="FirmName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine1" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine2" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine3" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine4" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine5" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine6" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="LastLine" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="City" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="StateProvince" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PostalCode" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="user_fields">
						<xs:complexType>
							<xs:sequence>
								<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="user_field" type="tns:user_field"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:complexType name="user_field">
				<xs:sequence>
					<xs:element form="qualified" name="name" type="xs:string"/>
					<xs:element form="qualified" name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="EOLS_PSAPLookupUSResponse">
				<xs:sequence>
					<xs:element form="qualified" minOccurs="0" name="Output" type="tns:Output.RowList"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Output.RowList">
				<xs:sequence>
					<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Row" type="tns:Output.Row"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Output.Row">
				<xs:all>
					<xs:element form="qualified" minOccurs="0" name="Geometry" type="ns2:Geometry"/>
					<xs:element form="qualified" minOccurs="0" name="PSAPID" type="xs:int"/>
					<xs:element form="qualified" minOccurs="0" name="FCCID" type="xs:int"/>
					<xs:element form="qualified" minOccurs="0" name="PSAPType" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="CountyName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="CountyFIPS" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Agency" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="CoverageArea" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="CoverageExceptions" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="CoverageComments" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PSAPComments" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="OperatorPhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactPrefix" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactFirstName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactLastName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactTitle" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactPhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactFax" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactEmail" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ContactComments" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="MailingStreet" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="MailingCity" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="MailingState" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="MailingZip" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SitePhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SiteFax" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SiteStreet" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SiteCity" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SiteState" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="SiteZip" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Status" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Status.Code" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Status.Description" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Confidence" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="ProcessedBy" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="StreetDataType" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="LocationCode" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="MatchCode" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AdditionalInputData" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine1" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine2" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="City" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Country" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="FirmName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="LastLine" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PostalCode" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PostalCode.Base" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PostalCode.AddOn" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="RRHC" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="StateProvince" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="USUrbanName" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Latitude" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="Longitude" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="StreetSide" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="InputKeyValue" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine3" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine4" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine5" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="AddressLine6" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="PolicePhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="FirePhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="EMSPhone" type="xs:string"/>
					<xs:element form="qualified" minOccurs="0" name="user_fields">
						<xs:complexType>
							<xs:sequence>
								<xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="user_field" type="tns:user_field"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:all>
			</xs:complexType>
			<xs:element name="EOLS_PSAPLookupUSRequest" nillable="true" type="tns:EOLS_PSAPLookupUSRequest"/>
			<xs:element name="EOLS_PSAPLookupUSResponse" nillable="true" type="tns:EOLS_PSAPLookupUSResponse"/>
		</xs:schema>
		<xs:schema targetNamespace="http://www.mapinfo.com/midev/service/units/v1" version="1.0" xmlns:tns="http://www.mapinfo.com/midev/service/units/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="Angle">
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="uom" type="tns:AngularUnit" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="AngularUnit">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Degree"/>
					<xs:enumeration value="Minute"/>
					<xs:enumeration value="Second"/>
					<xs:enumeration value="Radian"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:ns1="http://www.mapinfo.com/midev/service/units/v1" xmlns:tns="http://www.mapinfo.com/midev/service/geometries/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.mapinfo.com/midev/service/units/v1"/>
			<xs:complexType abstract="true" name="Geometry">
				<xs:sequence/>
				<xs:attribute name="srsName" type="xs:string"/>
			</xs:complexType>
			<xs:complexType name="Ring">
				<xs:complexContent>
					<xs:extension base="tns:Geometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="LineString" type="tns:LineString"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="LineString">
				<xs:complexContent>
					<xs:extension base="tns:Geometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Pos" type="tns:Pos"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Pos">
				<xs:sequence>
					<xs:element name="X" type="xs:double"/>
					<xs:element name="Y" type="xs:double"/>
					<xs:element minOccurs="0" name="Z" type="xs:double"/>
				</xs:sequence>
				<xs:attribute name="mValue" type="xs:double"/>
			</xs:complexType>
			<xs:complexType name="Polygon">
				<xs:complexContent>
					<xs:extension base="tns:Geometry">
						<xs:sequence>
							<xs:element name="Exterior" type="tns:Ring"/>
							<xs:element minOccurs="0" name="InteriorList" type="tns:InteriorList"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="InteriorList">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="Ring" type="tns:Ring"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Curve">
				<xs:complexContent>
					<xs:extension base="tns:Geometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="LineString" type="tns:LineString"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="FeatureGeometry">
				<xs:complexContent>
					<xs:extension base="tns:Geometry">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MultiPolygon">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Polygon" type="tns:Polygon"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Envelope">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Pos" type="tns:Pos"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="LegacyText">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element name="Rectangle" type="tns:Envelope"/>
							<xs:element name="Text" type="xs:string"/>
							<xs:element minOccurs="0" name="Angle" type="ns1:Angle"/>
							<xs:element minOccurs="0" name="CalloutTarget" type="tns:Pos"/>
						</xs:sequence>
						<xs:attribute name="textCalloutType" type="tns:TextCalloutType"/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MultiFeatureGeometry">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="FeatureGeometry" type="tns:FeatureGeometry"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MultiPoint">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Point" type="tns:Point"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Point">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element name="Pos" type="tns:Pos"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MultiCurve">
				<xs:complexContent>
					<xs:extension base="tns:FeatureGeometry">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Curve" type="tns:Curve"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="TextCalloutType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Simple"/>
					<xs:enumeration value="Arrow"/>
					<xs:enumeration value="None"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://spectrum.pb.com/" xmlns="http://spectrum.pb.com/" xmlns:ns1="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.pb.com/spectrum/services/EOLS_PSAPLookupUS"/>
			<xs:element name="EOLS_PSAPLookupUSRequest" type="ns1:EOLS_PSAPLookupUSRequest"/>
			<xs:element name="EOLS_PSAPLookupUSResponse" type="ns1:EOLS_PSAPLookupUSResponse"/>
			<xs:element name="options" type="ns1:options"/>
			<xs:element name="user_field" type="ns1:user_field"/>
			<xs:complexType name="ServiceInvocationFault">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.pb.com/spectrum/services/" xmlns:ns0="http://spectrum.pb.com/" xmlns:tns="http://www.pb.com/spectrum/services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="ServiceInvocationFault" nillable="true" type="ns0:ServiceInvocationFault"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ServiceInvocationFault">
		<wsdl:part element="ns2:ServiceInvocationFault" name="ServiceInvocationFault">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="EOLS_PSAPLookupUSResponse">
		<wsdl:part element="ns1:EOLS_PSAPLookupUSResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="EOLS_PSAPLookupUS">
		<wsdl:part element="ns1:EOLS_PSAPLookupUSRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EOLS_PSAPLookupUS">
		<wsdl:operation name="EOLS_PSAPLookupUS">
			<wsdl:input message="tns:EOLS_PSAPLookupUS" name="EOLS_PSAPLookupUS">
			</wsdl:input>
			<wsdl:output message="tns:EOLS_PSAPLookupUSResponse" name="EOLS_PSAPLookupUSResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceInvocationFault" name="ServiceInvocationFault">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EOLS_PSAPLookupUSSoapBinding" type="tns:EOLS_PSAPLookupUS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="EOLS_PSAPLookupUS">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="EOLS_PSAPLookupUS">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="EOLS_PSAPLookupUSResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ServiceInvocationFault">
				<soap:fault name="ServiceInvocationFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EOLS_PSAPLookupUS">
		<wsdl:port binding="tns:EOLS_PSAPLookupUSSoapBinding" name="EOLS_PSAPLookupUSPort">
			<soap:address location="https://spectrum.pbondemand.com/soap/EOLS_PSAPLookupUS"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>